body{
    background-color: #D9D9D9;
    margin: 0;
    padding: 100px;
}

/* タイトル */
h1{
    text-align: center;
    font-size: 5rem;
}

/* 画像を入れているaを入れているdivタグ */
#as{
    text-align: center;
    display: flex;
    justify-content: center;
}

/* 画像を入れているaタグ */
a{
    margin-bottom: 0;
    text-decoration: none;  /* 画像下の文字リンクの下線を消す */
}

/* 画像 */
.icon{
    width: 100px;
    margin: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

/* 画像下の説明テキスト */
.icon-text{
    text-align: center;
    text-decoration: none;
    color: #000000; /* 画像下文字の色付け */
}